language: python
sudo: false
cache: pip

python:
  - "2.7"

addons:
  apt:
    packages:
      - expect-dev  # provides unbuffer utility
      - python-lxml  # because pip installation is slow
      - python-simplejson
      - python-serial
      - python-yaml

env:
  global:
  - VERSION="7.0" TESTS="0" LINT_CHECK="0" TRANSIFEX="0"
  - TRANSIFEX_USER='transbot@odoo-community.org'
  - secure: DncQWtzMNwjo/k6Kmotl5IXI1l7sj3AcFTPSjT8i5D/2C42Y2bYTahdXcabDIXhBeUPrMxiQFc/A4cxoDPyn8u2YeLpuX4NNiUtTOIuI0GU3zanna7AUO31JGwMle4Rzaepa3lHxFaQzqs9+auawlt1s9qmwmRsfYpjyclf0ydw=

  matrix:
  - LINT_CHECK="1"
  - TRANSIFEX="1"
  - TESTS="1" ODOO_REPO="odoo/odoo" EXCLUDE="framework_agreement,purchase_landed_costs"
  - TESTS="1" ODOO_REPO="OCA/OCB" EXCLUDE="framework_agreement,purchase_landed_costs"
  - TESTS="1" ODOO_REPO="odoo/odoo" INCLUDE="framework_agreement"
  - TESTS="1" ODOO_REPO="OCA/OCB" INCLUDE="framework_agreement"
  - TESTS="1" ODOO_REPO="odoo/odoo" INCLUDE="purchase_landed_costs"
  - TESTS="1" ODOO_REPO="OCA/OCB" INCLUDE="purchase_landed_costs"

virtualenv:
  system_site_packages: true

install:
  - git clone https://github.com/OCA/maintainer-quality-tools.git ${HOME}/maintainer-quality-tools
  - export PATH=${HOME}/maintainer-quality-tools/travis:${PATH}
  - travis_install_nightly

script:
  - travis_run_tests

after_success:
  - travis_after_tests_success
