odoo_test_helper
odoo-addon-stock_restrict_lot @ git+https://github.com/OCA/stock-logistics-workflow.git@refs/pull/1610/head#subdirectory=stock_restrict_lot
odoo-addon-sale_order_lot_selection @ git+https://github.com/OCA/sale-workflow.git@refs/pull/3034/head#subdirectory=sale_order_lot_selection
