odoo_test_helper
odoo14-addon-purchase_supplierinfo_product_breakdown @ git+https://github.com/OCA/purchase-workflow.git@refs/pull/1747/head#subdirectory=setup/purchase_supplierinfo_product_breakdown
